[Service]
User=appsuser
Group=appsuser
ExecStart=/etc/init.d/lweg-jilter start
Type=forking

# (file size)
LimitFSIZE=infinity
# (cpu time)
LimitCPU=infinity
# (virtual memory size)
LimitAS=infinity
# (open files)
LimitNOFILE=65535
# (processes/threads)
LimitNPROC=65535
[Install]
WantedBy=multi-user.target
